.container h1 {
    width: 100%;
    margin:0;
    position: fixed; 
    left: 50%;
    margin-left: -50%;
    padding:40px 0;
    top: 0;
    background-color:rgb(61, 61, 61);
    border-radius: 0 0 20px 20px;
    font-size: 5rem;
}
.container .navBar li {
    margin: 18% 0 18% -40px;
    border: 5px solid white;
    background-color:rgb(61, 61, 61);
}

/* .about {
    display: none;
} */
.innercontent h1 {
    font-size: 2.75rem;
}
.innerContent h2 {
    font-size: 2.5rem;
}
.innerContent p {
    font-size: 2.25rem;
}
.innerContent section {
    font-size: 3.25rem;
}

footer {
    font-size: 3rem;
} 