* {
    box-sizing: border-box;
}
html, body {
    font-family: Arial, Helvetica, sans-serif;
    font-size:20px;
    margin:0;
    padding:0;
}
.list {
    list-style:none;
}
/*background*/
.background img{
    position:fixed;
    right:0;
    bottom:0;
    min-width:100%;
    min-height:100%;
    z-index: -1;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}
/* end background */

/* begin header */
.content {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.content header{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    z-index: 1;
    background-color:rgb(61, 61, 61);
}
header .container {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    color:white;
    max-height:7rem;
    margin-bottom: .5rem;
}
.container h1 {
    width:100%;
    font-size: 2.25rem; 
    white-space:no-wrap;
}
.container .navBar {
    width:100%;
    font-size:1.5rem;
    white-space:no-wrap;
}
.container .navBar ul {
    list-style:none;
    display:flex;
    justify-content: space-evenly;
    margin: auto;
    width:100%;
    height:100%;
}
.container .navBar ul li {
    width: 33%;
}
/* end header */

/* begin innerContent general*/
.innerContent {
    display:relative;
    width:80%; 
    text-align: center;
    margin-top:8.2rem;
}
.containCont {
    background-color: lightblue;
    opacity: .8;
    margin: 2rem 0;
    padding:2rem 2.5rem;
    border-radius: 30px;
    font-size: 1rem;
}
.containCont h1 {
    font-size: 1.5rem;
}
.containCont p {
    text-align: left;
}
/* end innercontent general */

/* about info section */


/* end about */

/* portfolio info section */

/* end portfolio */

/* contact info section */
.contact h1 {
    padding-bottom: .5rem;
}
.overall {
    text-align: left;
}
.overall li {
    margin-bottom: .5rem;
}
/* end contact */

/* footer */
footer {
    display:border-box;
    width:100%;
    font-size: .8rem;
    padding-bottom: 4rem;
    padding-top: 0;
}
